<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <!-- <header></header> -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container ms-auto">
                <a class="navbar-brand" href="#"><img src="img/logo.svg" alt="" width="107" height="36"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">DESCRIPTION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FEATURES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">SCREEN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">EXTRA</a>
                        </li>

                    </ul>
                    <span class="nav-item">
                        <a class=" btn btn-outline-danger page-scroll" href="download">DOWNLOAD</a>
                    </span>
                </div>
            </div>
        </nav>

      


      
        @RenderBody()

        <footer>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 codes">
                            <div class="footer-col first">
                                <h5>About Sync</h5>
                                <p class="p-small">Sync is a landing page HTML template built with Bootstrap 4 for presenting mobile apps</p>
                            </div>
                            <div class="footer-col second">
                                <h5>Contact Info</h5>
                                <ul class="list-unstyled li-space-lg p-small">
                                    <li class="media">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <div class="media-body">22 Innovation Street, CA, US</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-envelope"></i>
                                        <div class="media-body"><a href="https://www.free-css.com/free-css-templates">office@domain.com</a></div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-phone-alt"></i>
                                        <div class="media-body"><a href="https://www.free-css.com/free-css-templates">+44 376 945 23</a></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-col third">
                                <h5>Value Links</h5>
                                <ul class="list-unstyled li-space-lg p-small">
                                    <li><a href="pages/terms-conditions.php">Terms &amp; Conditions</a></li>
                                    <li><a href="pages/privacy-policy.php">Privacy Policy</a></li>
                                    <li><a href="pages/article-details.php">Article Details</a></li>
                                </ul>
                            </div>
                            <div class="footer-col fourth">
                                <h5>Other Apps</h5>
                                <ul class="list-unstyled li-space-lg p-small">
                                    <li><a href="https://www.free-css.com/free-css-templates">Scientific Calculator</a></li>
                                    <li><a href="https://www.free-css.com/free-css-templates">Advanced Timer</a></li>
                                    <li><a href="https://www.free-css.com/free-css-templates">Music Store</a></li>
                                </ul>
                            </div>
                            <div class="footer-col fifth"><span class="fa-stackx"><a href="https://www.free-css.com/free-css-templates"><i class="fas fa-circle fa-stack-2xx"></i> <i class="fab fa-facebook-f fa-stack-1xx "></i></a></span> <span class="fa-stackx"><a href="https://www.free-css.com/free-css-templates"><i class="fas fa-circle fa-stack-2xx"></i> <i class="fab fa-twitter fa-stack-1xx"></i></a></span> <span class="fa-stackx"><a href="https://www.free-css.com/free-css-templates"><i class="fas fa-circle fa-stack-2xx"></i> <i class="fab fa-pinterest-p fa-stack-1xx"></i></a></span> <span class="fa-stackx"><a href="https://www.free-css.com/free-css-templates"><i class="fas fa-circle fa-stack-2xx"></i> <i class="fab fa-instagram fa-stack-1xx"></i></a></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="p-small1">Copyright &copy; 2045 All rights reserved - By <a class="codes1" target="_blank" rel="nofollow noopener" href="//inovatik.com">Inovatik</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="freecssfooter">
                <div id="fcssholder">
                    <div id="bsap_2365" class="bsarocks bsap_b893e54e42ad5b76e7b252f59be18e67"></div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js"
                integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
                crossorigin="anonymous"></script>
</body>

</html>